@using KitapAlimSatim.Web.Models
@using KitapAlimSatim.Data.Entities
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model ProductModel

@{ 
    ViewData["title"] = Model.Book.Name;
    var comments = (List<CommentModel>)ViewData["comments"];
}

<div class="flex-row">
    <div class="col-md-7">
        <center>
            <img style="height: 500px; max-width: 100%; max-height: 100%" src="~/media/image/@Model.Book.FileName" />
        </center>
    </div>
    <div class="col-md-5">
        <h3 style="margin: 0 0 5px">@Model.Book.Name</h3>
        <div>
            <b class="text-muted">@Model.Book.Author</b>
        </div>
        <br />
        <div style="line-height: 1.9em;" class="text-muted">
            <div class="row">
                <div class="col-md-4">
                    @Localizer["Publisher"]
                </div>
                <div class="col-md-8">
                    <b>@Model.Book.Publisher</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Localizer["Seller"]
                </div>
                <div class="col-md-8">
                    <b>@Model.User.Name</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Localizer["Stock"]
                </div>
                <div class="col-md-8">
                    <b>@Model.Stock</b>
                </div>
            </div>
        </div>
        <h3 class="text-success">
            @Model.Price TL
        </h3>
        <br />
        <div id="addCart" style="width: 100%" class="btn btn-lg btn-success">
            @Localizer["AddCart"]
        </div>
        <h2>@Localizer["AboutBook"]</h2>
        <pre>@Model.Book.Description</pre>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <h2>@Localizer["Comments"]</h2>
        <div style="margin-bottom: 69px;">
            <form asp-action="Comment" asp-controller="Product" method="post">
                <input type="hidden" name="productId" value="@Model.Id" />
                <div class="form-group">
                    <textarea rows="4" name="comment" class="form-control" placeholder="@Localizer["CommentPlaceholder"]"></textarea>
                </div>
                <input type="submit" class="btn btn-primary pull-right" value="@Localizer["Send"]" />
            </form>
        </div>
        <hr />
        @if (comments.Count == 0)
        {
            <div class="alert alert-success">@Localizer["FirstComment"]</div>   
        }
        <div>
            @foreach (CommentModel item in comments)
            {
                <div style="font-family: system-ui" class="alert alert-success" role="alert">
                    <div style="color: #161c2d;">@item.Message</div>
                    <b class="text-muted small">@item.User.Name - @item.CreatedAt</b>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var productId = @Model.Id;
</script>